<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haomostudio.SpringMVCTemplate.service.source.dao.HmUserMapper" >
  <resultMap id="BaseResultMap" type="com.haomostudio.SpringMVCTemplate.po.HmUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="loginid" property="loginid" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="meeting_reminding_time" property="meetingRemindingTime" jdbcType="INTEGER" />
    <result column="job_title" property="jobTitle" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="phone_number_spare" property="phoneNumberSpare" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="community" property="community" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="hide" property="hide" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, loginid, password, mobile, email, avatar, create_time, last_update_time, 
    last_login_time, department_code, role_id, meeting_reminding_time, job_title, phone_number, 
    phone_number_spare, rank, community, enable, hide, department_id, code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hm_user
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByObject" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from hm_user
    where
    <if test="username != null" >
      username = #{username,jdbcType=VARCHAR},
    </if>
    <if test="loginid != null" >
      loginid = #{loginid,jdbcType=VARCHAR},
    </if>
    <if test="password != null" >
      password = #{password,jdbcType=VARCHAR},
    </if>
    <if test="mobile != null" >
      mobile = #{mobile,jdbcType=VARCHAR},
    </if>
    <if test="email != null" >
      email = #{email,jdbcType=VARCHAR},
    </if>
    <if test="avatar != null" >
      avatar = #{avatar,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null" >
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="lastUpdateTime != null" >
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="lastLoginTime != null" >
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
    </if>
    <if test="departmentCode != null" >
      department_code = #{departmentCode,jdbcType=VARCHAR},
    </if>
    <if test="roleId != null" >
      role_id = #{roleId,jdbcType=VARCHAR},
    </if>
    <if test="meetingRemindingTime != null" >
      meeting_reminding_time = #{meetingRemindingTime,jdbcType=INTEGER},
    </if>
    <if test="jobTitle != null" >
      job_title = #{jobTitle,jdbcType=VARCHAR},
    </if>
    <if test="phoneNumber != null" >
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
    </if>
    <if test="phoneNumberSpare != null" >
      phone_number_spare = #{phoneNumberSpare,jdbcType=VARCHAR},
    </if>
    <if test="rank != null" >
      rank = #{rank,jdbcType=INTEGER},
    </if>
    <if test="community != null" >
      community = #{community,jdbcType=VARCHAR},
    </if>
    <if test="enable != null" >
      enable = #{enable,jdbcType=VARCHAR},
    </if>
    <if test="hide != null" >
      hide = #{hide,jdbcType=VARCHAR},
    </if>
    <if test="departmentId != null" >
      department_id = #{departmentId,jdbcType=VARCHAR},
    </if>
    <if test="code != null" >
      code = #{code,jdbcType=VARCHAR},
    </if>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hm_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.haomostudio.SpringMVCTemplate.po.HmUser" >
    insert into hm_user (id, username, loginid, 
      password, mobile, email, 
      avatar, create_time, last_update_time, 
      last_login_time, department_code, role_id, 
      meeting_reminding_time, job_title, phone_number, 
      phone_number_spare, rank, community, 
      enable, hide, department_id, 
      code)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{loginid,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{departmentCode,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, 
      #{meetingRemindingTime,jdbcType=INTEGER}, #{jobTitle,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{phoneNumberSpare,jdbcType=VARCHAR}, #{rank,jdbcType=INTEGER}, #{community,jdbcType=VARCHAR}, 
      #{enable,jdbcType=VARCHAR}, #{hide,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haomostudio.SpringMVCTemplate.po.HmUser" >
    insert into hm_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="loginid != null" >
        loginid,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="departmentCode != null" >
        department_code,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="meetingRemindingTime != null" >
        meeting_reminding_time,
      </if>
      <if test="jobTitle != null" >
        job_title,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="phoneNumberSpare != null" >
        phone_number_spare,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="community != null" >
        community,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="hide != null" >
        hide,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginid != null" >
        #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="departmentCode != null" >
        #{departmentCode,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="meetingRemindingTime != null" >
        #{meetingRemindingTime,jdbcType=INTEGER},
      </if>
      <if test="jobTitle != null" >
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumberSpare != null" >
        #{phoneNumberSpare,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="community != null" >
        #{community,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="hide != null" >
        #{hide,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haomostudio.SpringMVCTemplate.po.HmUser" >
    update hm_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginid != null" >
        loginid = #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="departmentCode != null" >
        department_code = #{departmentCode,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="meetingRemindingTime != null" >
        meeting_reminding_time = #{meetingRemindingTime,jdbcType=INTEGER},
      </if>
      <if test="jobTitle != null" >
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumberSpare != null" >
        phone_number_spare = #{phoneNumberSpare,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="community != null" >
        community = #{community,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="hide != null" >
        hide = #{hide,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haomostudio.SpringMVCTemplate.po.HmUser" >
    update hm_user
    set username = #{username,jdbcType=VARCHAR},
      loginid = #{loginid,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      department_code = #{departmentCode,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      meeting_reminding_time = #{meetingRemindingTime,jdbcType=INTEGER},
      job_title = #{jobTitle,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      phone_number_spare = #{phoneNumberSpare,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      community = #{community,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR},
      hide = #{hide,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>